@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .header {
        justify-content: space-around;
        &__official {
            font-size: 10px;
            span {
                display: block;
                font-size: 15px;
            }
        }
    }
    .promo {
        min-height: 650px;
        padding: 21px 20px 93px 20px;
        background: url(../../img/bg1.jpg) no-repeat;
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 400px;
        }
    }
    .button_main {
        width: 270px;
        height: 45px;
        font-size: 14px;
        margin-top: 67px;
    }
    .benefits {
        padding: 40px 20px 35px 20px;
        .title {
            font-weight: 700;
            font-size: 28px;
        }
        &__icons {
            margin-top: 30px;
        }
        &__icon {
            width: 220px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 40px 20px 35px 20px;
        .title_left {
            font-weight: 700;
            font-size: 28px;
        }
        .feed-form {
            width: 270px;
            input {
                height: 40px;
                margin-bottom: 10px;
                font-size: 12px;
            }
        }
        .button_submit {
            width: 270px;
            height: 45px;
            font-size: 14px;
        }
    }
    .carousel {
        padding: 60px 20px;
        .prev {
            display: none;
        
        }
        .next {
            display: none;
        }
    }
    .tns-item {
        img {
            width: 100%;
        }

    }
    .catalog {
        &__content {
            width: 768px;
            justify-content: space-around;
        }
    }
    .reviews {
        padding: 10px 10px 10px 10px;
        .title {
            font-size: 28px;
        }
        &__content {
            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 180px;
        }
    }
    .promo {
        min-height: 650px;
        padding: 20px 20px 20px 20px;
        background: url(../../img/bg1.jpg) no-repeat;
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 10px;
        }
        &__icons {
            width: 320px;
        }
        &__link {
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 16px;
            
            a {
                color: #FFFFFF;
                text-decoration: underline;
                text-transform: uppercase;
            }
      
        }
    }
    .button_main {
        width: 220px;
        height: 36px;
        font-size: 12px;
        margin-top: 67px;
    }
    .benefits {
        padding: 40px 20px 35px 20px;
        .title {
            font-weight: 700;
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
            color: #0D0D0D;
            margin-top: 20px;
        }
        &__icons {
            margin-top: 30px;
        }
        &__icon {
            width: 220px;
        }
        &__descr {
            font-weight: 300;
            font-size: 13px;
            color: #0D0D0D;
            text-align: center;
            margin-top: 16px;
        }
    }
    .consultation {
        min-height: 540px;
        padding: 20px 20px 20px 20px;
        .title_left {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        &__descr {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
        }
        .feed-form {
            width: 220px;
            input {
                height: 36px;
                margin-bottom: 10px;
                font-size: 12px;
            }
        }
        .button_submit {
            width: 220px;
            height: 36px;
            font-size: 12px;
        }
    }
    .carousel {
        padding: 60px 20px;
        .prev {
            display: none;
        
        }
        .next {
            display: none;
        }
    }
    .tns-item {
        img {
            width: 100%;
        }

    }
    .catalog {
        .title {
            font-size: 24px;
        }
        &__content {
            width: 576px;
            justify-content: center;
        }
        &__tabs {
            margin-top: 30px;
            padding-left: 15px;
        }
    }
}



@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 200px;
        }
        &__official {
            margin-top: 10px;
            font-size: 12px;
        }
        &__contacts {
            margin-top: 10px;
        }
    }
    .promo {
        min-height: 650px;
        padding: 20px 20px 20px 20px;
        background: url(../../img/bg1.jpg) no-repeat;
        background-position: 30% 0%;
        &__header {
            font-size: 26px;
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__wrapper {
            margin-top: 20px;
            align-items: center;
        }
        &__icons {
            width: 300px;
            margin-top: 30px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .benefits {
        padding: 30px 0 35px 0;
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        &__icon {
            width: 290px;
            margin-top: 30px;
        }
        &__subheader {
            font-size: 18px;
            margin-top: 10px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .carousel {
        padding: 60px 20px;
        .prev {
            display: none;
        
        }
        .next {
            display: none;
        }
    }
    .tns-item {
        img {
            width: 100%;
        }

    }
    .catalog {
        padding: 10px 10px 10px 10px;
        .title {
            font-size: 24px;
        }
        &__content {
            width: 576px;
            justify-content: flex-start;
        
        }
        &__tabs {
            margin-top: 30px;
            padding-left: 30px;
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .reviews {
        padding: 10px 10px 10px 10px;
        .title {
            font-size: 28px;
        }
        &__content {
            flex-direction: column;
            align-items: center;
            img {
                width: 169px;
                height: 169px;
            }
        }
        &__item {
            margin: 0 auto;
            margin-top: 10px;
            h3 {
                text-align: center;
            }
            h4 {
                text-align: center;
            }
        }
    }
}