.reviews {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        margin-left: 60px;
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;

        }
        h4 {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #0D0D0D;
        margin-top: 10px;

    }
}